*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "League Spartan", sans-serif;
  background-color: #f0f0f0;
}

button {
  display: inline-block;
  border: none;
  cursor: pointer;
  font: inherit;
}

input {
  background-color: #191f31;
  padding: 1.5rem;
  border: none;
  border-radius: 8px;
}

.calculator {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #3b4664;
  color: #fff;
  padding: 1.5rem 1rem;
  gap: 1.2rem;
}

.calculator > * {
  grid-column: 1 / -1;
}

.buttons {
  background-color: #262d44;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  border-radius: 8px;
}

.buttons > * {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 5px;
}

.number,
.operator,
.point {
  color: #4f5058;
  background-color: #eae7de;
  box-shadow: 0 3px 0 0 #bbaca5;
}

.delete,
.reset,
.equals {
  color: #fff;
}

.delete,
.reset {
  background-color: #627095;
  box-shadow: 0 3px 0 0 #425072;
}

.reset {
  grid-column: 1 / span 2;
}

.equals {
  grid-column: 3 / span 2;
  background-color: #ce3e34;
  box-shadow: 0 3px 0 0 #882b27;
}
